# Relational Database SQLite
### By Charles K. MAWUSI

In [95]:
import sqlite3

# Creating our own database and customer table 
con = sqlite3.connect('customer.db')
cursor=con.cursor()

cursor.execute("""
DROP TABLE IF EXISTS customers_table;
""") # Drop all existing customer tables

querry = """
CREATE TABLE customers_table( 
first_name text,
last_name   text,
email_address text,
age real);
"""   
cursor.execute(querry)
con.commit()

#### Inserting data into customer table

In [96]:
cursor.execute("""SELECT *
    FROM customers_table
    LIMIT 5; 
    """)
data=cursor.fetchall()
print(data)

[]

#### Inserting Tables into DB

In [97]:
cursor.execute("""
INSERT INTO customers_table VALUES
('charles','MAWUSI','mawusicharles@yahoo.com',36), 
('Amandine', 'Ribot', 'Amandineribot01@gmail.com',35);
""")
con.commit()

#### Retrieve data From customer_table

In [101]:
cursor.execute("""
select * 
FROM customers_table;
""")
result=cursor.fetchall()
print(result)
con.close()

[('charles', 'MAWUSI', 'mawusicharles@yahoo.com', 36.0), ('Amandine', 'Ribot', 'Amandineribot01@gmail.com', 35.0)]